table
{
    border-collapse: collapse;
    width: 50%;
}
th,td
{
    text-align: center;
    padding: 20px;
    width: 60px;
}
tr:nth-child(even)
{
    background-color: #e0e8f7;
}
th
{
    background-color: #3366cc;
    color: white;
}
h1
{
    text-align: center;
}
